@page
@model bus_transport_mgt_sys.Pages.Dashboards.Tickets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket.TicketId" />
            <div class="form-group">
                <label asp-for="Ticket.BusId" class="control-label"></label>
                <select asp-for="Ticket.BusId" class="form-control" asp-items="ViewBag.BusId"></select>
                <span asp-validation-for="Ticket.BusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.UserId" class="control-label"></label>
                <select asp-for="Ticket.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Ticket.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ScheduleId" class="control-label"></label>
                <select asp-for="Ticket.ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"></select>
                <span asp-validation-for="Ticket.ScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
